USE [2023_My_Pham]
GO
/****** Object:  User [CAPTAINM10]    Script Date: 15/12/2023 9:09:50 pm ******/
CREATE USER [CAPTAINM10] FOR LOGIN [CAPTAINM10] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-TA9T2DE]    Script Date: 15/12/2023 9:09:50 pm ******/
CREATE USER [DESKTOP-TA9T2DE] FOR LOGIN [DESKTOP-TA9T2DE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [trunghieu]    Script Date: 15/12/2023 9:09:50 pm ******/
CREATE USER [trunghieu] FOR LOGIN [trunghieu] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedTableType [dbo].[DeletedData]    Script Date: 15/12/2023 9:09:50 pm ******/
CREATE TYPE [dbo].[DeletedData] AS TABLE(
	[MaHang] [varchar](50) NULL
)
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/12/2023 9:09:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](12) NULL,
	[AccountEmail] [nvarchar](50) NULL,
	[AccountPassword] [nvarchar](50) NULL,
	[Salt] [nchar](6) NULL,
	[Active] [bit] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[LastLogin] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[NgaySinh] [datetime] NULL,
	[AnhDaiDien] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[GioiTinh] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDonHang] [varchar](50) NOT NULL,
	[MaSanPham] [varchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [float] NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLoHang]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLoHang](
	[MaLoHang] [varchar](50) NOT NULL,
	[MaSanPham] [varchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [float] NULL,
 CONSTRAINT [PK_ChiTietLoHang] PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTLoai]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTLoai](
	[MaCTLoai] [varchar](50) NOT NULL,
	[TenCTLoai] [nvarchar](250) NULL,
	[MaLoai] [varchar](50) NULL,
 CONSTRAINT [PK_CTLoai] PRIMARY KEY CLUSTERED 
(
	[MaCTLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[MaDanhMuc] [varchar](50) NOT NULL,
	[TenDanhMuc] [nvarchar](250) NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaCTLoai] [varchar](50) NULL,
	[MaHang] [varchar](50) NULL,
	[HinhAnh] [nvarchar](250) NULL,
	[DanhGia] [float] NULL,
	[Gia] [float] NULL,
	[CachDung] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMucSanPham] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Type] [nvarchar](20) NULL,
	[Slug] [nvarchar](100) NULL,
	[NameWithType] [nvarchar](255) NULL,
	[PathWithType] [nvarchar](255) NULL,
	[ParentCode] [int] NULL,
	[Levels] [int] NULL,
 CONSTRAINT [PK_DiaChi] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [varchar](50) NOT NULL,
	[TongTien] [float] NULL,
	[TrangThaiDonHang] [int] NULL,
	[MaKhachHang] [int] NULL,
	[ThanhToan] [bit] NULL,
	[VanChuyen] [int] NULL,
	[PhiVanChuyen] [float] NULL,
	[NgayDatHang] [datetime] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang](
	[MaHang] [varchar](50) NOT NULL,
	[TenHang] [nvarchar](250) NULL,
	[XuatXu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hang] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](50) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [float] NULL,
	[MaDonHang] [varchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [varchar](50) NOT NULL,
	[TenLoai] [nvarchar](250) NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoHang]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHang](
	[MaLoHang] [varchar](50) NOT NULL,
	[NgayNhan] [date] NULL,
	[MaNhaPP] [varchar](50) NULL,
	[GiaLo] [float] NULL,
 CONSTRAINT [PK_LoHang] PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaPhanPhoi]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaPhanPhoi](
	[MaNhaPP] [varchar](50) NOT NULL,
	[TenNhaPP] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [nvarchar](150) NULL,
 CONSTRAINT [PK_NhaPhanPhoi] PRIMARY KEY CLUSTERED 
(
	[MaNhaPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 15/12/2023 9:09:51 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](50) NOT NULL,
	[TenSanPham] [nvarchar](250) NULL,
	[Mau] [nvarchar](50) NULL,
	[Anh] [nvarchar](max) NULL,
	[Gia] [float] NULL,
	[KhuyenMai] [float] NULL,
	[SLKho] [int] NULL,
	[NgaySX] [datetime] NULL,
	[LuotMua] [int] NULL,
	[MaDanhMuc] [varchar](50) NULL,
	[HomeFlag] [bit] NOT NULL,
	[BestSellers] [bit] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[NgaySua] [datetime] NULL,
	[GiaNhap] [float] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountId], [Phone], [AccountEmail], [AccountPassword], [Salt], [Active], [FullName], [RoleId], [LastLogin], [CreateDate], [NgaySinh], [AnhDaiDien], [DiaChi], [GioiTinh]) VALUES (29, N'0832423666', N'admin@gmail.com', N'5ecf5d5d9458ec7ba170bf83fb165095', N'21^5] ', 1, N'admin', 19, CAST(N'2023-12-15T13:45:33.897' AS DateTime), CAST(N'2023-12-15T10:02:46.333' AS DateTime), CAST(N'2000-11-11T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Account] ([AccountId], [Phone], [AccountEmail], [AccountPassword], [Salt], [Active], [FullName], [RoleId], [LastLogin], [CreateDate], [NgaySinh], [AnhDaiDien], [DiaChi], [GioiTinh]) VALUES (32, N'0832523666', N'tai@gmail.com', N'd9e7e1e7dd95252a6e2ba03c4e4c9a47', N')]0i6 ', 1, N'Trịnh Viết Tài', 21, CAST(N'2023-12-15T12:03:05.347' AS DateTime), CAST(N'2023-12-15T10:54:45.000' AS DateTime), CAST(N'2001-12-11T00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Account] ([AccountId], [Phone], [AccountEmail], [AccountPassword], [Salt], [Active], [FullName], [RoleId], [LastLogin], [CreateDate], [NgaySinh], [AnhDaiDien], [DiaChi], [GioiTinh]) VALUES (33, N'0862354888', N'phuong@gmail.com', N'3da75acebd2e7702c524330b97aac8a2', N'&*%v6 ', 0, N'Nguyễn Thị Hà Phương', 20, NULL, CAST(N'2023-12-15T10:59:58.000' AS DateTime), CAST(N'2002-02-20T00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaSanPham], [SoLuong], [GiaBan]) VALUES (N'DH12813', N'SP0005', 1, 160000)
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaSanPham], [SoLuong], [GiaBan]) VALUES (N'DH12813', N'SP0006', 1, 160000)
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaSanPham], [SoLuong], [GiaBan]) VALUES (N'DH20041', N'SP0003', 1, 160000)
GO
INSERT [dbo].[CTLoai] ([MaCTLoai], [TenCTLoai], [MaLoai]) VALUES (N'CTL001', N'Kem lót', N'L1')
INSERT [dbo].[CTLoai] ([MaCTLoai], [TenCTLoai], [MaLoai]) VALUES (N'CTL002', N'Kem nền', N'L1')
INSERT [dbo].[CTLoai] ([MaCTLoai], [TenCTLoai], [MaLoai]) VALUES (N'CTL003', N'Phấn nền', N'L1')
GO
INSERT [dbo].[DanhMucSanPham] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaCTLoai], [MaHang], [HinhAnh], [DanhGia], [Gia], [CachDung], [ChiTiet]) VALUES (N'DM001', N'Romand Zero Velvet Tint ', N'Son Kem Lì Cực Nhẹ Môi Romand Zero Velvet Tint là son kem lì của thương hiệu Romand với kết cấu velvet xốp mềm cùng bảng màu đa dạng, dễ dùng cho đôi môi lên màu chuẩn, mịn mượt, nổi bật dù bạn ở bất cứ đâu.', N'CTL016', N'H1', N'Son Kem Lì Cực Nhẹ Môi Romand Zero Velvet Tint.jpg', NULL, 144000, NULL, NULL)
INSERT [dbo].[DanhMucSanPham] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaCTLoai], [MaHang], [HinhAnh], [DanhGia], [Gia], [CachDung], [ChiTiet]) VALUES (N'DM002', N'Romand Glasting Melting Balm', N'Son Dưỡng Thuần Chay Romand Glasting Melting Balm là son thỏi màu có dưỡng đến từ thương hiệu Romand với tinh chất dầu thực vật thuần chay cùng chất son siêu nhẹ môi có độ dưỡng cao, giúp dưỡng ẩm cho đôi môi mềm mại, căng bóng tự nhiên trong thời gian dài.', N'CTL015', N'H1', N'Son Dưỡng Dạng Thỏi Có Màu Thuần Chay Dưỡng Ẩm Mềm Môi Romand Glasting Melting Balm.jpg', NULL, 144000, NULL, NULL)
INSERT [dbo].[DanhMucSanPham] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaCTLoai], [MaHang], [HinhAnh], [DanhGia], [Gia], [CachDung], [ChiTiet]) VALUES (N'DM003', N'Romand Juicy Lasting Tint', N'Son Kem Romand Juicy Lasting Tint được bổ sung vào rất nhiều dưỡng chất nên mang lại khả năng dưỡng ẩm cao, nên khi đánh lên môi không những không làm lộ rảnh môi hay khô môi mà giúp đôi môi bạn giữ được lớp màu bền và mọng hơn suốt nhiều giờ đồng hồ.', N'CTL018', N'H1', N'Son Kem Tint Romand Juicy Lasting Tint.jpg', NULL, 146200, NULL, NULL)
GO
INSERT [dbo].[DonHang] ([MaDonHang], [TongTien], [TrangThaiDonHang], [MaKhachHang], [ThanhToan], [VanChuyen], [PhiVanChuyen], [NgayDatHang]) VALUES (N'DH12813', 320000, 3, 5, 1, 1, 10000, CAST(N'2023-12-01T13:09:50.913' AS DateTime))
INSERT [dbo].[DonHang] ([MaDonHang], [TongTien], [TrangThaiDonHang], [MaKhachHang], [ThanhToan], [VanChuyen], [PhiVanChuyen], [NgayDatHang]) VALUES (N'DH20041', 160000, 3, 4, 1, 1, 10000, CAST(N'2023-12-12T13:04:29.210' AS DateTime))
INSERT [dbo].[DonHang] ([MaDonHang], [TongTien], [TrangThaiDonHang], [MaKhachHang], [ThanhToan], [VanChuyen], [PhiVanChuyen], [NgayDatHang]) VALUES (N'DH21248', 492000, 1, 5, 1, 1, 10000, CAST(N'2023-12-15T13:14:00.113' AS DateTime))
GO
INSERT [dbo].[Hang] ([MaHang], [TenHang], [XuatXu]) VALUES (N'H1', N'Roma&nd', N'Hàn Quốc')
INSERT [dbo].[Hang] ([MaHang], [TenHang], [XuatXu]) VALUES (N'H2', N'Merzy', N'Hàn Quốc')
INSERT [dbo].[Hang] ([MaHang], [TenHang], [XuatXu]) VALUES (N'H3', N'Toofaced', N'Mỹ')
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai], [NgaySinh], [AccountId]) VALUES (1, N'Nguyễn Thị Hà Phương', N'Thanh Hóa', N'0832423666', NULL, 0)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai], [NgaySinh], [AccountId]) VALUES (2, N'Bùi MInh Đức', N'Hoàng Đồng-Lạng Sơn', N'0832423666', NULL, 0)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai], [NgaySinh], [AccountId]) VALUES (3, N'Nguyễn Thị Hà Phương', N'Hoàng Đồng-Lạng Sơn', N'0832156489', NULL, 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (N'L1', N'Trang điểm mắt')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (N'L2', N'Trang điểm mặt')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (N'L3', N'Trang điểm môi')
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (19, N'Admin', N'Quản trị viên')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (20, N'Customer', N'Người dùng')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (21, N'Employee', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Mau], [Anh], [Gia], [KhuyenMai], [SLKho], [NgaySX], [LuotMua], [MaDanhMuc], [HomeFlag], [BestSellers], [MoTa], [Active], [NgaySua], [GiaNhap]) VALUES (N'SP0001', N'12 Anne Shirley', N'#ed4855', N'12-anne-shirley.jpg', 160000, 10, 80, CAST(N'2023-05-26T00:00:00.000' AS DateTime), NULL, N'DM001', 0, 0, N'0', 0, CAST(N'2023-11-07T13:31:42.243' AS DateTime), 100000)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Mau], [Anh], [Gia], [KhuyenMai], [SLKho], [NgaySX], [LuotMua], [MaDanhMuc], [HomeFlag], [BestSellers], [MoTa], [Active], [NgaySua], [GiaNhap]) VALUES (N'SP0002', N'13 Berry Cake', N'#e54d4d', N'13-berry-cake.jpg', 160000, 10, 80, CAST(N'2023-05-26T00:00:00.000' AS DateTime), NULL, N'DM001', 0, 0, N'0', 0, CAST(N'2023-11-07T13:31:53.223' AS DateTime), 100000)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Mau], [Anh], [Gia], [KhuyenMai], [SLKho], [NgaySX], [LuotMua], [MaDanhMuc], [HomeFlag], [BestSellers], [MoTa], [Active], [NgaySua], [GiaNhap]) VALUES (N'SP0003', N'14 Pecan Tarte', N'#b02c36', N'14-pecan-tarte.jpg', 160000, 10, 20, CAST(N'2023-05-26T00:00:00.000' AS DateTime), NULL, N'DM001', 0, 0, N'0', 0, CAST(N'2023-11-07T13:32:06.590' AS DateTime), 100000)
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF__SanPham__Active__3C34F16F]  DEFAULT ((0)) FOR [Active]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietLoHang_LoHang] FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietLoHang] CHECK CONSTRAINT [FK_ChiTietLoHang_LoHang]
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietLoHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietLoHang] CHECK CONSTRAINT [FK_ChiTietLoHang_SanPham]
GO
ALTER TABLE [dbo].[CTLoai]  WITH CHECK ADD  CONSTRAINT [FK_CTLoai_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[CTLoai] CHECK CONSTRAINT [FK_CTLoai_Loai]
GO
ALTER TABLE [dbo].[DanhMucSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucSanPham_CTLoai] FOREIGN KEY([MaCTLoai])
REFERENCES [dbo].[CTLoai] ([MaCTLoai])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DanhMucSanPham_CTLoai]
GO
ALTER TABLE [dbo].[DanhMucSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucSanPham_Hang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[Hang] ([MaHang])
GO
ALTER TABLE [dbo].[DanhMucSanPham] CHECK CONSTRAINT [FK_DanhMucSanPham_Hang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DonHang]
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD  CONSTRAINT [FK_LoHang_NhaPhanPhoi] FOREIGN KEY([MaNhaPP])
REFERENCES [dbo].[NhaPhanPhoi] ([MaNhaPP])
GO
ALTER TABLE [dbo].[LoHang] CHECK CONSTRAINT [FK_LoHang_NhaPhanPhoi]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMucSanPham] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucSanPham] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMucSanPham]
GO
