@{
    ViewData["Title"] = "San Pham Theo Hang";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

}




<div class="success-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="success-text">
                    <h2>Thanh toán thành công!</h2>
                    <p>Cảm ơn bạn đã mua hàng. Đơn hàng của bạn đã được xác nhận và đang được xử lý.</p>

                    <p>Chúng tôi sẽ liên hệ với bạn sớm để xác nhận thông tin và giao hàng.</p>
                    <p>Xin vui lòng kiểm tra email của bạn để nhận được thông tin chi tiết về đơn hàng.</p>
                    <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>