@model SanPham

<div>
    <h3>Thông tin sản phẩm</h3>
    <p>Tên sản phẩm: @Model.TenSanPham</p>
    <p>Màu sản phẩm: @Model.Mau</p>
    <p>Giá: @Model.Gia</p>
    <!-- Thêm các thông tin sản phẩm khác tại đây -->
</div>
